body {
    background-color: #49b181;
  }

.jumbotron {
background-image: url("images/bacteria_culture.jpg");
background-size: cover;
text-align: center;
color: white;
}

.row {
    margin: 30px;
}

.well {
    background-color: #59686b;
    color: white;
    border-color: white;
}

select {
    color: black;
}

.panel {
    background-color: #e1e38f;
    border-color: white;      
}

.panel > .panel-heading {
    background-color: #59686b;
    color: white;
    border-color: white;
}
